/* 초기화 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 640px;
  width: 95%;
  margin: 0 auto;
}
input {
  padding: 0 20px;
  background-color: #f2f3f8;
  border: 1px solid #ccc;
  margin-bottom: 10px;
} /*모든 input*/

input:focus {
  outline: 1px solid #8e8e8e;
}

textarea:focus {
  outline: 1px solid #8e8e8e;
}

.container img {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  margin: 20px auto;
  width: 30%;
} /*메인 이미지*/

textarea {
  background-color: #f2f3f8;
  padding: 15px 15px;
  resize: none;
  width: 95%;
  height: 300px;
}
/*내용 뒷 배경*/

/*select 배경*/
select {
  background-color: #f2f3f8;
  padding: 0 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  color: #666666;
}

select:focus {
  outline: 1px solid #8e8e8e;
}

.Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
} /*이름 날짜 시간*/

.Bot {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
} /*이메일 전화번호 주제 제목 내용*/

.nameContainer {
  width: 32%;
}

.dateContainer {
  width: 32%;
}

.timeContainer {
  width: 32%;
}

#inputName {
  /* width: 188px; */
  width: 100%;
  height: 40px;
  border-radius: 20px;
  /* margin-right: 15px; */
} /*이름*/

.dateContainer input {
  /* width: 200px; */
  width: 100%;
  height: 40px;
  border-radius: 20px;
  /* margin-right: 15px; */
} /*날짜 input*/

.timeContainer select {
  /* width: 200px; */
  width: 100%;
  height: 40px;
  border-radius: 20px;
  /* margin-right: 15px; */
} /*시간 selct*/

#inputEmail {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 10px;
} /*이메일*/

#inputPhone {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 10px;
} /*전화번호*/

.Subject select {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 10px;
} /*주제 select*/

#inputTitle {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 10px;
} /*제목*/

#inputDetail {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
} /*내용*/

#Checkbox {
  text-align: left;
  margin: 0 0 20px 10px;
  width: 100%;
} /*체크 박스*/

#sendButton {
  background-color: #aad221;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  justify-content: center;
  color: white;
  border: 0px solid;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

#sendButton:hover {
  background-color: #aed725;
}
/*보내기 버튼*/

.Correction {
  background-color: #424242;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  justify-content: center;
  color: white;
  border: 0px solid;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

.Correction:hover {
  background-color: #696969;
}

/*오류 나올 때 스타일*/
.inputField {
  border: 1px solid #ccc;
}

.inputField.error {
  border: 1px solid red;
}

.message {
  display: none;
  color: red;
}
/*반응형 테블릿*/
@media screen and (max-width: 860px) {
  .Top {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
  }
  .Top #inputName {
    width: 100%;
  }
  .Top .dateContainer input {
    width: 100%;
  }
  .Top .timeContainer select {
    width: 100%;
  }
  .Bot #inputEmail {
    width: 100%;
  }
  .Bot #inputPhone {
    width: 100%;
  }
  .Bot #inputTitle {
    width: 100%;
  }
  textarea {
    width: 70%;
  }
  #sendButton {
    width: 100%;
    text-align: center;
  }
  .Correction {
    width: 100%;
    text-align: center;
  }
}
/*반응형 모바일*/
@media screen and (max-width: 430px) {
  .container img {
    width: 40%;
  }
  .Top {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .Top #inputName {
    width: 100%;
  }
  .Top .dateContainer input {
    width: 100%;
  }
  .Top .timeContainer select {
    width: 100%;
  }
  .Top .dateContainer p {
    margin-bottom: 20px;
  }
  .Bot #inputEmail {
    width: 100%;
  }
  .Bot #inputPhone {
    width: 100%;
  }
  .Bot #inputTitle {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  #sendButton {
    width: 100%;
  }
  .Correction {
    width: 100%;
  }
  .nameContainer {
    width: 100%;
  }
  .dateContainer {
    width: 100%;
  }
  .timeContainer {
    width: 100%;
  }
}
