.st_6_main {
  margin-top: 30px;
}

.st_6_1 {
  border-radius: 10px;
  background: #f4f4f4;
  max-width: 820px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px 0;
}
.st_6_1_nb {
  display: none;
}
.st_6_1_text p {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 10px 0;
}
.st_6_1_text p:nth-child(1) {
  color: #1c1c1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.st_6_1_text p:nth-child(2) {
  color: #636363;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.st_6_1_img {
  /* width: 415px; */
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
.st_6_1_img img {
  /* width: 415px; */
  width: 95%;
  margin: 0 auto;
}
.st_6_1_img img:nth-child(1) {
  padding-top: 50px;
}

.st_6_2_img img:nth-child(1) {
  padding-top: 30px;
  width: 95%;
}

.st_6_2_img div:nth-child(1) {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 860px) {
  .st_6_1 {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-direction: column;
  }

  .st_6_1_contents {
    display: flex;
  }
  .st_6_1_nb {
    display: block;
    padding-left: 50px;
  }
  .st_6_1_nb p {
    color: #46572b;
    font-size: 82px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .st_6_1_text {
    width: 90%;
  }
  .st_6_1_text:nth-child(2) {
    padding-top: 20px;
  }

  .st_6_1_text p:nth-child(1) {
    color: #1c1c1c;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .st_6_1_text p:nth-child(2) {
    color: #636363;
    font-size: 20px;
    font-style: normal;
    /* font-weight: 500; */
    line-height: normal;
    width: 90%;
  }
  .st_6_1_img {
    display: flex;
    margin-left: 20px;
  }

  .st_6_1_img div:nth-child(1) {
    width: 40%;
    margin-right: 30px;
  }
  .st_6_1_img div:nth-child(2) {
    width: 60%;
    margin-top: 40px;
    margin-right: 20px;
  }

  .st_6_1_img img:nth-child(1) {
    width: 100%;
  }
  .st_6_1_img img:nth-child(2) {
    width: 20%;
  }
}
